a=10

In [1]:
a='c'

In [2]:
type(a)

str

In [4]:
int('123')

123

In [5]:
print("Hello World")

Hello World

In [6]:
print(123)

123

In [7]:
print('Hello World')

Hello World

In [8]:
age=32
print("My age is: ",age)

My age is:  32

In [11]:
##f string
print(f"my age is: {age}")

my age is: 32

In [20]:
##format()
name="Amit pandey"
age=32
print("My Name is {} and age is {}".format(name,age))

My Name is Amit pandey and age is 32

In [27]:
name="amit"
degree="MCA"
hobby="Cricket"
Address="Ghamahapur"
PinCode= 221105
print("my name is {} and I did podtgraduation in {} and I live in {}".format(name,degree,Address))

my name is amit and I did podtgraduation in MCA and I live in Ghamahapur

In [24]:
print("Amit")

Amit

In [31]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is amit and age is 32

In [15]:
name="Amit Pandey"
Age=32
Degree="MCA"
print("my age is {} and I have completed: my degree is{} and Name is {}".format(age,degree,name))

NameError: name 'degree' is not defined

In [33]:
name="jojo"
print("name")

name

In [34]:
##Control Flow
###Decision Making Statements
##If statement
age=18
if age>=18:
    print("You are eligible to Vote")

You are eligible to Vote

In [10]:
##IfElse
age=int(input("please enter the age and check the eligibility for voting"))
if age>=18 and age<=30:
    print("you are eligible for voting")
elif age<=17:
    print("you are not eligible for voting")
else:
    print("Nota")

please enter the age and check the eligibility for voting 35

Nota

In [18]:
##IfElse
a=int(input("please enter the first number"))
b=int(input("enter the secodn number"))
c=int(input("Enter the third number"))
if a>b and a>c:
    print(" a is the largest number : {}".format(a))
elif b>a and b>c:
    print("b is the largest number : {}".format(b))
else:
    print("c is the largest number : {}".format(c))

please enter the first number 5
enter the secodn number 15
Enter the third number 10

b is the largest number

In [44]:
##leap year example
year=int(input("Check it whether Year is leap or not"))
if (year % 4 == 0) and (year%100!=0):
    print("leap year".format(year))
else:
    print("Year is not leap year")

Check it whether Year is leap or not 2009

Year is not leap year

In [35]:
#Variable definition and assignment
#year = 2024

#Remove comments from the bottom line to take input from the user
year = int(input("Enter a year: "))

#It is a centenary year if the value is divisible by 100 with no remainder.
#Centenary year is a leap year divided by 400
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

#If it is not divisible by 100 then it is not a centenary year
#A year divisible by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year.".format(year))

#If the Year is not divisible by both 400 (centenary year) and 4 (centenary year) then:
#The Year is not a leap year
else:
    print("{0} is not a leap year.".format(year))

Enter a year:  2000

2000 is a leap year

In [42]:
(year!=0)

True